# Server Configuration
PORT=XXXX
NODE_ENV=xxx

# Hedera Configuration
HEDERA_ACCOUNT_ID=xxx
HEDERA_PRIVATE_KEY=xxx
HEDERA_NETWORK=xxx

# Database Configuration
DATABASE_URL=xxx

SUPABASE_URL=xxx
SUPABASE_ANON_KEY=xxx
REDIS_URL=xxx
REDIS_TTL_SECONDS=xxx
USD_TOKEN_ID=xxx
ZAR_TOKEN_ID=xxx

FIXER_API_KEY=xxx
CURRENCY_LAYER_API_KEY=xxx
EXCHANGE_RATE_API_KEY=xxx
FREE_CURRENCY_API_KEY=xxx

RATE_CACHE_TTL=xxx
USD_TOKEN_ID=xxx
ZAR_TOKEN_ID=xxx
USD_SUPPLY_KEY=xxx
ZAR_SUPPLY_KEY=xxx
PRIVATE_KEY=xxx
BNPL_ADDRESS=xxx
HEDERA_EVM_RPC_URL=xxx
HEDERA_EVM_PRIVATE_KEY=xxx